.style-enigme--defaut {
  font-family: var(--font-default);
  background-color: var(--color-background);
}
.style-enigme--pirate {
  font-family: 'Pirata One', cursive;
  background-color: #301A0F;
  color: #FFD700;
}
.style-enigme--vintage {
  font-family: 'IM Fell English SC', serif;
  background-color: #f2e5c4;
  color: #333;
}
